* {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-color: #8E5D8B;
    padding: 20px;
    text-align: center;
    height: 50vh;
    /*height es para que el header ocupe mitad de pantalla o toda o lo que elijamos*/
}


/* Ejemplo de Estilos por Clase*/

.column {
    float: left;
    width: 100%;
    padding: 20px 20%;
    /* Este es el orden del padding --> padding: top left bottom right;*/
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}