* {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
}

.header h1 {
    font-size: 60px;
    background-color: white;
}

.header p {
    font-size: 40px;
    background-color: white;
}


/* Ejemplo de Estilos por Clase*/

.one-column {
    float: left;
    width: 100%;
    padding: 20px 20%;
    /* Este es el orden del padding --> padding: top left bottom right;*/
}

.one-column h1,
.one-column h2 {
    text-align: center;
}

#cadetblue {
    background-color: #838383;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Two columns*/

.two-column {
    padding: 20px;
    float: left;
    width: 50%;
}


/*Three columns*/

.three-column {
    padding: 20px;
    float: left;
    width: 33.33%;
}

.three-column img {
    width: 100%;
}

.three-column .desc {
    padding: 10px;
    text-align: center;
}


/*Four Columns*/

.four-column {
    padding: 20px;
    float: left;
    width: 25%;
}


/*Estilos del Footer*/

#footer-a {
    background-color: #21252995;
}

#footer-a p {
    color: white;
}

#footer-b {
    text-align: center;
    background-color: #212529;
    color: #868e96;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .one-column {
        width: 100%;
    }
}